extends layout
block content
	.col-sm-12.banner-about(style='padding:0;')
		.inner-banner-about
			h1.text-center: b About Us
	.about.col-sm-10.col-sm-offset-1
		.col-sm-4
			ul.nav.nav-pills.nav-stacked
				li.active
					a(href="#welcome" data-toggle='pill') Welcome
				li
					a(href="#mission" data-toggle='pill') Mission and Vision
				li
					a(href="#zones" data-toggle='pill') Zones
				li
					a(href="#pastors" data-toggle='pill') Our Pastors
				
			//controlled by javascript
			hr(style='display:none;')
		.col-sm-8(style='background:pin;')
			.tab-content(style='')
				.tab-pane.fade.in.active#welcome
					h3: b WELCOME
					p This is The Redeemed Christian Church of God Faith Tabernacle parish, the provincial headquarters for Ebonyi province 1. We are a lovely people. We affect your lives in so many good ways. We wish to fellowship with you in one spirit.
					p We strive hard to ensure the gospel reaches each and every corner of Ebonyi State, Nigeria and other part of the world.
				.tab-pane.fade#mission
					h3: b Our Mission and Vision
					p To make heaven.
					p To take as many people with us.
					p To have a member of RCCG in every family of all nations.
					p To accomplish No. 1 above, holiness will be our lifestyle.
					p To accomplish No. 2 and 3 above, we will plant churches within five minutes walking distance in every city and town of developing countries and within five minutes driving distance in every city and town of developed countries.
					p We will pursue these objectives until every Nation in the world is reached for the Lord Jesus Christ.
				.tab-pane.fade#zones
					h3: b Zones
					.table-responsive.col-sm-12(style='padding:0px;')
						table.table
							thead
								tr
									th Name
									th Address
							tbody
								tr
									td Goshen
									td 31b Udensi Str, Abakaliki
								tr
									td Zone2
									td Zone2 address
				.tab-pane.fade#pastors
					h3(style='margin-bottom:15px;'): b Pastors
					.col-sm-12.clearfix(style='padding:0;background:purpl;margin-bottom:40px;')
						.col-xs-4#pastors-img.picp
						.col-xs-8#pastors-detail(style='background:tomat')
							h3(style='letter-spacing:1.5px;') Pst. & Pst. (Mrs) Femi Oluwatosin
							span Pastor in charge of province (PICP)
							p: span
								a(href="#")
									i.fab.fa-facebook-square  
									span   Facebook   
								a(href="#") |  
									i.fab.fa-twitter-square
									span   Twitter
					
					.col-sm-12.clearfix(style='padding:0;background:purpl;margin-bottom:40px;')
						.col-xs-4#pastors-img.apicp
						.col-xs-8#pastors-detail(style='background:tomat')
							h3(style='letter-spacing:1.5px;') Pst & Pst (Mrs) Name Surname
							span Assistant Pastor in charge of province (APICP)
							p: span
								a(href="#")
									i.fab.fa-facebook-square  
									span   Facebook   
								a(href="#") |  
									i.fab.fa-twitter-square
									span   Twitter

				


