extends layout
block content
    .col-sm-12.calendar
        h3.text-center Calendar Of Events For The Year 2018
        <iframe src="https://calendar.google.com/calendar/embed?src=kitn6jl8rbelarbq25nbl1ld6s%40group.calendar.google.com&ctz=Africa%2FLagos" style="border: 0" width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
