extends layout
block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js', type='text/javascript')
    link(href='https://unpkg.com/nanogallery2@2.0.0/dist/css/nanogallery2.min.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='https://unpkg.com/nanogallery2@2.0.0/dist/jquery.nanogallery2.min.js')
    .col-sm-12.gallery-background
        h3 Image Gallery
        if(images && images.length == 0)
            P No images to show
        div.gallery(data-nanogallery2='{    "thumbnailWidth": "200",    "colorScheme": {    "thumbnail": {    "background": "rgba(81,140,163,1)"    }    },    "thumbnailDisplayTransition": "scaleUp",    "thumbnailHoverEffect2": "imageScaleIn80|imageSepiaOff|labelAppear75" ,"galleryDisplayMode": "moreButton","galleryLastRowFull": true   }')
                
            if(images)
                each image in images
                    a(href=image.imgSrc, data-ngthumb=image.imgSrc, data-ngdesc=image.desc)
                        
