extends layout
block content
	script(src="/javascripts/jssor.slider-27.1.0.min.js" type="text/javascript")
	script(src='/javascripts/script.js')
	
	.col-sm-12.slidr(style='padding:0px;')
		#jssor_1(style='position:relative;margin:0 auto;top:0px;left:0px;width:1200px;height:490px;overflow:hidden;visibility:hidden;')
			// Loading Screen
			.jssorl-009-spin(data-u='loading', style='position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);')
				img(style='margin-top:-19px;position:relative;top:50%;width:38px;height:38px;', src='/images/spin.svg')
			div#in(data-u='slides', style='cursor:default;position:relative;top:0px;left:0px;width:1200px;height:490px;overflow:hidden;')
				div(data-fillmode='0', data-p='225.00')
					img(data-u='image', data-src2='/images/home-banner.jpg')
					.darken
						.content(style='width:100%;height:490px;position:relative;color:#fff;')
							.col-sm-8.col-sm-offset-2.slide-inner
								h1.text-center Welcome Home
								p.text-center We are glad to see you here
								p.text-center( id='cta')
									span
										a(href="#service_times") Worship Times
									span
										a(href="/ministries") Join A Group
				
				div(data-p='225.00')
					img(data-u='image', data-src2='/images/forest.jpg')
					.darken
						.content(style='width:100%;height:490px;position:relative;color:#fff;')
							.col-sm-8.col-sm-offset-2.slide-inner
								h1.text-center: b WORSHIPING CHRIST
								h1.text-center(style='color:#00B7FF;'): b PASSIONATELY
								p One of the best ways to connect with God is through our services. Join us weekly as we worship God together
				div(data-p='225.00')
					img(data-u='image', data-src2='/images/free.jpg')
					.darken
						.content(style='width:100%;height:490px;position:relative;color:#fff;')
							.col-sm-8.col-sm-offset-2.slide-inner
								h1.text-center IN HIS PRESENCE
								hr
								p.text-center THERE IS FULLNESS OF JOY
				div(data-p='225.00')
					img(data-u='image', data-src2='/images/youth_flier.jpg')
				//
					
					div(data-p='225.00')
						img(data-u='image', data-src2='/images/015.jpg')
					div(data-p='225.00')
						img(data-u='image', data-src2='/images/016.jpg')
			// Bullet Navigator
			.jssorb053(data-u='navigator', style='position:absolute;bottom:12px;right:12px;', data-autocenter='1', data-scale='0.5', data-scale-bottom='0.75')
				.i(data-u='prototype', style='width:16px;height:16px;')
					svg(viewbox='0 0 16000 16000', style='position:absolute;top:0;left:0;width:100%;height:100%;')
						path.b(d='M11400,13800H4600c-1320,0-2400-1080-2400-2400V4600c0-1320,1080-2400,2400-2400h6800 c1320,0,2400,1080,2400,2400v6800C13800,12720,12720,13800,11400,13800z')
			// Arrow Navigator
			.jssora093(data-u='arrowleft', style='width:50px;height:50px;top:0px;left:30px;', data-autocenter='2', data-scale='0.75', data-scale-left='0.75')
				svg(viewbox='0 0 16000 16000', style='position:absolute;top:0;left:0;width:100%;height:100%;')
					circle.c(cx='8000', cy='8000', r='5920')
					polyline.a(points='7777.8,6080 5857.8,8000 7777.8,9920 ')
					line.a(x1='10142.2', y1='8000', x2='5857.8', y2='8000')
			.jssora093(data-u='arrowright', style='width:50px;height:50px;top:0px;right:30px;', data-autocenter='2', data-scale='0.75', data-scale-right='0.75')
				svg(viewbox='0 0 16000 16000', style='position:absolute;top:0;left:0;width:100%;height:100%;')
					circle.c(cx='8000', cy='8000', r='5920')
					polyline.a(points='8222.2,6080 10142.2,8000 8222.2,9920 ')
					line.a(x1='5857.8', y1='8000', x2='10142.2', y2='8000')
	.col-sm-12.latest
		p.text-center
	.col-sm-12.ministries
		.col-sm-10.col-sm-offset-1(style='padding:0px;')
			div(style='padding-left:15px;padding-right:15px;')
				h3.text-center#ministries Our Ministries
			.col-sm-4
				.hover
					.well#youth
						a(href="/ministries/#youth"): .drkbgrd: h3.text-center Young Adults and Youth
			.col-sm-4
				.hover
					.well#sod
						a(href="/ministries/#sod"): .drkbgrd: h3.text-center School Of Discipleship
			.col-sm-4
				.hover
					.well#women
						a(href="/ministries/#women"): .drkbgrd: h3.text-center Women
			.col-sm-4
				.hover
					.well#children.hover
						a(href="/ministries/#children"): .drkbgrd: h3.text-center Children Church
			.col-sm-4
				.hover
					.well#men
						a(href="/ministries/#men"): .drkbgrd: h3.text-center Men
			.col-sm-4
				.hover
					.well#biblec
						a(href="/ministries/#biblec"): .drkbgrd: h3.text-center Bible College
			
		
	.col-sm-12.service-times
		.service-inner.col-sm-10.col-sm-offset-1(style='margin-top:5px;')
			h3.text-center#service_times Our Service Times
			.col-sm-4
					.panel.panel-default
						.panel-body
							h3.text-center Sunday Service
							hr
							p
								p.text-center: b Sundays &nbsp  | 
									span: b 8:00 AM
							
								
			.col-sm-4
					.panel.panel-default
						.panel-body
							h3.text-center Digging Deep &nbsp &nbsp
							hr
							p.text-center: b Tuesdays &nbsp| 
								span: b 5:00 PM
			.col-sm-4
					.panel.panel-default
						.panel-body
							h3.text-center Faith Clinic &nbsp &nbsp
							hr
							p.text-center: b Thursdays | 
								span: b 5:00 PM
	section.col-sm-12.sermons-section
		.col-sm-6.col-sm-offset-3.inner-section
			.col-sm-8(style='background:re;')
				h1 SERMONS
			.col-sm-4
				a.text-center(href='/sermons/page/1' style='color:#fff')
					h3 Read latest sermons
	section.col-sm-12.events-section
		.col-sm-6.col-sm-offset-3.inner-section
			.col-sm-8(style='background:re;')
				h1 Events
			.col-sm-4
				a.text-center(href='/events')
					h3 See Upcomming Events
	section.col-sm-12.socials-section
		.col-sm-3.col-xs-3.googleplus.soc
			a(href='#'): i.fab.fa-google-plus
		.col-sm-3.col-xs-3.facebook.soc(style='margin:0px;')
			a(href='#'): i.fab.fa-facebook-square
		.col-sm-3.col-xs-3.twitter.soc
			a(href='#'): i.fab.fa-twitter
		.col-sm-3.col-xs-3.youtube.soc
			a(href='#'): i.fab.fa-youtube

	script(type="text/javascript").
		jssor_1_slider_init()