doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
		meta(name='description', content='Faith Tabernacle parish')
		meta(name='author', content='GabrielGodwin')
		link(rel='icon', href='/images/favicon.ico')
		title=title
		// Bootstrap core CSS
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
		//script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		script(src='/javascripts/jquery-3.2.0.js')
		//script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		// Custom styles for this template
		link(href='/stylesheets/style.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Rammetto+One|Titillium+Web|Bellefair|Lobster', rel='stylesheet')
	body(data-spy="scroll" data-target=".navbar")
		.col-xs-12#toplogin(style='position:absolute;z-index:2000;')
			a(href="/portal", style='float:right;') Login
		nav.navbar.navbar-default.navbar-static-top
			.container-fluid.col-md-12
				.navbar-header
					div.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					.brand
						a.navbar-left(href='/')
							img(src="/images/rccg.png", alt="rccglogo")
							.logo(style='display:inline-block;')
								h3 Rccg Ebonyi Province 1
								
				#myNavbar.collapse.navbar-collapse(style='')
					ul.nav.navbar-nav.navbar-right
						li.active-home.hvr-bounce-to-bottom
							a(href='/', style='border-top-left-radius: 3px;') Home
						li.dropdown.hvr-bounce-to-bottom
							a.dropdown-toggle(data-toggle='dropdown', href='/about') About Us
								span.caret
							ul.dropdown-menu
								li
									a(href='/about/#welcome') Welcome
								li
									a(href='/about/#mission') Mission and Vision
								li
									a(href='/about/#pastors') Pastors
								li
									a(href='/about/#zones') Zones
						li.dropdown.hvr-bounce-to-bottom
							a.dropdown-toggle(data-toggle='dropdown', href='/ministries') Ministries
								span.caret
							ul.dropdown-menu
								li
									a(href='/ministries/#youth') Youth
								li
									a(href='/ministries/#sod') SOD
								li
									a(href='/ministries/#children') Children
								li
									a(href='/ministries/#biblec') Bible College
								li
									a(href='/ministries/#men') Men
								li
									a(href='/ministries/#women') Women
						li.active-events.hvr-bounce-to-bottom
							a(href='/events') Events
						li.dropdown.hvr-bounce-to-bottom
							a.dropdown-toggle(data-toggle='dropdown', href='/sermons/page/1') Media
								span.caret
							ul.dropdown-menu
								li.active-sermon
									a(href='/sermons/page/1') Latest Sermons
								li.active-blog
									a(href='/blog') Blog
								li.active-calender
									a(href='/gallery') Gallery
						li.active-contact.hvr-bounce-to-bottom.dropdown
							a(href='/contact', style='border-top-right-radius: 3px;') Contact
		.nav-liner.col-sm-12
		block content
		footer.col-sm-12
			.col-sm-10.col-sm-offset-1.footer-inner
				.top
					li
						a(href='/') Home
					li
						a(href='/about') About
					li
						a(href='/ministries') Ministries
					li
						a(href='/blog') Blog
					li
						a(href='/portal') Portal
					li
						a(href='/contact') Contact
				hr
				.address.col-sm-8.col-sm-offset-2
					p.text-center
						| The Redeemed Christian Church Of God Ebonyi Province 1, Democratic Estate Off Presco Junction, Abakaliki, Ebonyi State.
					p.text-center Email: info@rccgebonyiprovince1.com
					p.text-center Phone: +2347033858594
					p.text-center
						a(href='https://www.facebook.com/'): i.fab.fa-facebook-square
						
						a(href='https://www.youtube.com'): i.fab.fa-youtube
				.col-sm-12.last
					
					h6.pull-right.me
						a(href='https://www.facebook.com/godwin.gabriel.925' target='_blank' rel='no-opener' style='font-size:10px;color:#ddd;')  Unplugged
						span   | CST
	
					h6.pull-left Copyright 2018 Rccgebonyiprovince1. All rights Reserved
					
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
	script(src="/javascripts/script.js")
	script(defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")