extends portal
block portal
	.login_banner(background:olive;)
		.error_messages(style='width:80%;padding-left:15px;padding-right:15px;margin:auto;')
			p#print!= messages()
		
		.login
			h3 Please Login
			if err
				p.alert.alert-danger=err
			form(method='POST', action='/portal/login?returnTo=' + returnTo)
				.form-group
					input.form-control(name='username', type='text', placeholder='username or phone number', required)
				.form-group
					input.form-control(name='password', type='password', placeholder='password', required)
				.form-group
					input.btn.btn-primary(name='login', type='submit', value='Login')
				a(href="/portal/new") Or Create Account
	script(src='/javascripts/jquery-3.2.0.js')
	script.
		-$('#logon').css({minHeight:$(window).height()-153 + 'px'});