extends layout
block content
    .col-sm-12.banner-ministries(style='padding:0;')
        .inner-banner-ministries
            h1.text-center: b Our Ministries
    .our-ministries.col-sm-10.col-sm-offset-1
        .col-sm-4
            ul.nav.nav-pills.nav-stacked
                li.active
                    a(href="#youth" data-toggle='pill') Youth
                li
                    a(href="#children" data-toggle='pill') Children
                li
                    a(href="#risa" data-toggle='pill') R.I.S.A
                li
                    a(href="#sod" data-toggle='pill') SOD
                li
                    a(href="#biblec" data-toggle='pill') Bible College
                li
                    a(href="#men" data-toggle='pill') Men
            // controlled by js
            hr(style='display:none')
        .col-sm-8(style='background:pin;')
            .tab-content(style='')
                .tab-pane.fade.in.active#youth
                    h3: b Youth
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam blanditiis libero praesentium deleniti velit maxime ad nostrum odit repellendus! Accusamus facilis, blanditiis accusantium at dolorum rem quis ratione excepturi consequatur.
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem numquam voluptas alias officia at quae suscipit ratione mollitia dignissimos, eveniet magni maiores nobis nostrum. Ullam a voluptas ea suscipit nulla.
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio asperiores odit non perferendis veniam architecto soluta. Deserunt totam magnam officiis numquam odit a exercitationem nam est, veritatis error dolor hic!
                .tab-pane.fade#children
                    h3: b Children
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odio nulla repellendus, reiciendis assumenda sit odit quos, eum facilis qui natus ipsum dolore quibusdam excepturi sunt rerum nemo culpa corrupti.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odio nulla repellendus, reiciendis assumenda sit odit quos, eum facilis qui natus ipsum dolore quibusdam excepturi sunt rerum nemo culpa corrupti.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odio nulla repellendus, reiciendis assumenda sit odit quos, eum facilis qui natus ipsum dolore quibusdam excepturi sunt rerum nemo culpa corrupti.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto explicabo placeat harum veniam. Beatae, doloremque nam, ut modi ullam doloribus fugit consectetur repellat nesciunt in eum ea quae maiores.
                .tab-pane.fade#risa
                    h3: b R.I.S.A
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum atque ex eum rerum distinctio vero quod animi iusto officia nesciunt cupiditate deserunt, quam ad quaerat dolor maxime similique, voluptas nihil!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto explicabo placeat harum veniam. Beatae, doloremque nam, ut modi ullam doloribus fugit consectetur repellat nesciunt in eum ea quae maiores.
                .tab-pane.fade#sod
                    h3: b School Of Discipleship
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores nemo labore sed laudantium. Odit dignissimos quas totam error voluptatem? Eius laboriosam nihil placeat error illo velit incidunt quisquam perspiciatis voluptas!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto explicabo placeat harum veniam. Beatae, doloremque nam, ut modi ullam doloribus fugit consectetur repellat nesciunt in eum ea quae maiores.
                .tab-pane.fade#biblec
                    h3(style='margin-bottom:15px;'): b Bible College
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illum nobis, similique error deserunt atque accusantium doloribus magnam excepturi distinctio alias reprehenderit ad necessitatibus praesentium blanditiis. Excepturi officiis in aliquid!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sapiente reiciendis repellendus voluptatibus molestiae laboriosam laborum pariatur tempora aliquid! Repellendus in quo sit similique dolor, culpa eveniet deserunt aliquam vero!

                .tab-pane.fade#men
                    h3: b Men
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde inventore facilis ullam facere explicabo velit, voluptate ipsum tempora nostrum asperiores impedit a dolore consequuntur laborum ex, distinctio corrupti dolorem mollitia.
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur deleniti temporibus alias dignissimos, qui eveniet nisi saepe quos, voluptates iusto ducimus maiores ipsum. Dolores hic aut beatae assumenda aperiam exercitationem!



