extends layout
block content
    .col-sm-12.banner-ministries(style='padding:0;')
        .inner-banner-ministries
            h1.text-center: b Our Ministries
    .our-ministries.col-sm-10.col-sm-offset-1
        .col-sm-4
            ul.nav.nav-pills.nav-stacked
                li.active
                    a(href="#youth" data-toggle='pill') Youth
                li
                    a(href="#children" data-toggle='pill') Children
                li
                    a(href="#women" data-toggle='pill') Women
                li
                    a(href="#sod" data-toggle='pill') SOD
                li
                    a(href="#biblec" data-toggle='pill') Bible College
                li
                    a(href="#men" data-toggle='pill') Men
            // controlled by js
            hr(style='display:none')
        .col-sm-8(style='background:pin;')
            .tab-content(style='')
                .tab-pane.fade.in.active#youth
                    h3: b Youth
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam blanditiis libero praesentium deleniti velit maxime ad nostrum odit repellendus! Accusamus facilis, blanditiis accusantium at dolorum rem quis ratione excepturi consequatur.
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem numquam voluptas alias officia at quae suscipit ratione mollitia dignissimos, eveniet magni maiores nobis nostrum. Ullam a voluptas ea suscipit nulla.
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio asperiores odit non perferendis veniam architecto soluta. Deserunt totam magnam officiis numquam odit a exercitationem nam est, veritatis error dolor hic!
                    p
                        a(href="https://www.facebook.com/RccgFaithTabernacleYouthsFellowship/")
                .tab-pane.fade#children
                    h3: b Children
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odio nulla repellendus, reiciendis assumenda sit odit quos, eum facilis qui natus ipsum dolore quibusdam excepturi sunt rerum nemo culpa corrupti.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odio nulla repellendus, reiciendis assumenda sit odit quos, eum facilis qui natus ipsum dolore quibusdam excepturi sunt rerum nemo culpa corrupti.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odio nulla repellendus, reiciendis assumenda sit odit quos, eum facilis qui natus ipsum dolore quibusdam excepturi sunt rerum nemo culpa corrupti.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto explicabo placeat harum veniam. Beatae, doloremque nam, ut modi ullam doloribus fugit consectetur repellat nesciunt in eum ea quae maiores.
                .tab-pane.fade#women
                    h3: b Women
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum atque ex eum rerum distinctio vero quod animi iusto officia nesciunt cupiditate deserunt, quam ad quaerat dolor maxime similique, voluptas nihil!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto explicabo placeat harum veniam. Beatae, doloremque nam, ut modi ullam doloribus fugit consectetur repellat nesciunt in eum ea quae maiores.
                .tab-pane.fade#sod
                    h3: b School Of Discipleship
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores nemo labore sed laudantium. Odit dignissimos quas totam error voluptatem? Eius laboriosam nihil placeat error illo velit incidunt quisquam perspiciatis voluptas!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto explicabo placeat harum veniam. Beatae, doloremque nam, ut modi ullam doloribus fugit consectetur repellat nesciunt in eum ea quae maiores.
                .tab-pane.fade#biblec
                    h3(style='margin-bottom:15px;'): b Bible College
                    p The Redeemed Christian Bible College, (RCBC) seeks to deepen the spiritual life of each student so that he/she may be brought into intimate personal relationship with the person of the Lord Jesus Christ in the realms of the mind, the heart, and the will – the mind growing in the knowledge of him, the heart increasing in love for him. 
                    h4 Our Goals
                    ul
                        li To cater for spiritual manpower needs of the RCCG      and the body of Christ 
                        li To prepare people for the ministry 
                        li To train ministers all over the world to code with RCCG’S lobal spread
                        li To provide conducive and formal atmosphere for the teaching of the basis tenet’s of faith and the complete word of GOD
                        li TO provide adequate teaching in the bible doctrine organization administration and related subjects
                    h4 Entry Requirements and Certificates
                    ul
                        li School certificate /equivalent –ordinary certificate.
                        li NCE/OND equivalent- ordinary diploma 
                        li HND BSC BA equivalent- post gradate diploma
                    hr

                    h4 Contact:
                    p Adewale Peter
                    p College Coordinator
                    p: span Phone: +234xxxxxxxxx
                    p Email: 
                        span: a(href='mailto:rcbc@rccgfaithtabernacle.org', style='color:#00b7ff;') example@gmail.com

                .tab-pane.fade#men
                    h3: b Men
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde inventore facilis ullam facere explicabo velit, voluptate ipsum tempora nostrum asperiores impedit a dolore consequuntur laborum ex, distinctio corrupti dolorem mollitia.
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur deleniti temporibus alias dignissimos, qui eveniet nisi saepe quos, voluptates iusto ducimus maiores ipsum. Dolores hic aut beatae assumenda aperiam exercitationem!



