extends dashboard
block dashboard
    .col-sm-8.col-sm-offset-2
        h3 Upload media
        form(action='' method='POST' enctype='multipart/form-data')
            .form-group
                input.form-control(type="file" name='imgSrc' required)
            .form-group
                input.form-control(type="text" name='desc' placeholder="Describe this image" required)
            .form-group
                input.btn.btn-primary(type="submit")