.banner-blog{
    background-color:#deddda;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 140px;
}
.inner-banner-blog{
     background-color:rgba(0,0,0,0,1);
    width:100%;
    height:140px;
    padding:0px;
    margin-top:-20px;
}
.inner-banner-blog h1{
    color:#fff;
    padding-top:5%;
    font-size:2em;
  }
  .blog{
      margin-top:50px;
      margin-bottom:50px;
  }
  .eachpost{margin-bottom: 5px;}
  .eachpost a, .eachpost h4{
      color:gold;
  }
  .blog a:hover{
      text-decoration: none;
  }
  .eachpost .txt p{
      font-size: 18px;
      color:#999;
  }
  .blogcover{
      padding:0px;
      min-height: 270px;
      background-color:#999;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
  }
.aside{
    margin-top: 25px;
    min-height: 200px;
}
.aside .authorimg{
    width:150px;
    height: 150px;
}
.authorimg img{
    width:100%;
    height: 150px;
}
.comments{padding: 0px;}
.main{background-color: rg(199, 201, 202);min-height: 200px;}
.extras{background-color: rg(32, 33, 34);min-height: 200px;}
.popularposts{
    color:#999;
}
#by{display:none;color:gold;}



@media(max-width:854px){
    .authorimg{display:none;}
}
@media(max-width:768px){
    .aside{display:none;}
    .extras{
        width:90%;
        margin-top: 5%;
    }
    #by{display:inline;}
    .comments{
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width:512px){
    .banner-blog, .inner-banner-blog{
        height: 180px;
    }
    .inner-banner-blog h1{
        font-size: 3em;
    }
    .inner-banner-blog h1{padding-top:10%;}
}
@media (max-width:302px){
    #post_title{font-size: 20px;}
    .blog p{
      font-size: 15px;
    }
    .banner-blog, .inner-banner-blog{
      height: 130px;
    }
    .inner-banner-blog h1{
      font-size: 2.8em;
    }
    .eachpost h3{
        font-size: 1.5em;
    }
    .eachpost .txt p {
        font-size: 15px;
    }
    .inner-banner-blog h1{padding-top:12%;}
    .eachpost h4{font-size: 1em;}
    .blogcover{min-height: 150px;}
    .popularposts h3{font-size: 18px;}
    .popularposts hr{margin-top: 10px;margin-bottom: 10px;}
    .popularposts h4{font-size: 15px;}
}