body {
  font: 14px "Titillium Web", Helvetica, Arial, sans-serif;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
  -moz-transition:width 2s;
  -o-transition:width 2s
}

a {
  color: gold;
}
nav{
  margin-bottom:0px !important;
  padding-top:48px;
}
.navbar-default{
  background-color:#fffdf0;
}
.navbar-nav{
  margin:0px -15px;
}
.navbar-nav .open .dropdown-menu{
  background-color:#fff;
}
.navbar-left{
  display:block;
  background-color:tomat;
  margin:0px;
  padding:0px;
  margin-top:-30px;
  padding-bottom:0px;
}
.navbar-left img:first-of-type{
  width:80px;
  height: 80px;
  border-radius:50%;
  margin:0px;
  padding:0px;
}
.navbar-left img:nth-of-type(2){
  width:12%;
  height: 80px;
  margin-left:5px;
  padding:0px;
}
nav .navbar-right li{
  background-color:#00B7FF;
  margin-bottom:0px;
  border-bottom: 0px;
}
nav .navbar-right li a{
  color:#fff !important;
}
.dropdown-menu{padding:10px 0px;}
.dropdown-menu > li > a:hover {
  background-color: #eee;
  background-image: none;
  
}
nav .dropdown-menu li{
  background-color:#fff;
  padding:0px 15px;
}
nav .navbar-right li .dropdown-menu a{
  color:#999 !important;
  padding:5px 15px;
}

.nav-liner{
  background-color:#00B7FF;
  height:20px;
  margin-top:0px;
}
footer{
  background-color:#000;
}
footer .top{
  text-align: center;
  margin-top:5px;
}
footer .top li{
  display:inline;
  margin-right:10px;
  padding:5px;
}
footer .top li a{
  color:#fff;
}

footer .address p a{
  padding-right:5px;
}
footer p,footer h6{
  color:#6b6b6b;
}
footer .fa-facebook-square,footer .fa-twitter, footer .fa-instagram, footer .fa-heart{
  color:gold;
}

footer hr{
  border-top:1px solid #353535;
}
/*Slider*/
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 053 css*/
.jssorb053 .i {position:absolute;cursor:pointer;}
.jssorb053 .i .b {fill:#fff;fill-opacity:0.5;}
.jssorb053 .i:hover .b {fill-opacity:.7;}
.jssorb053 .iav .b {fill-opacity: 1;}
.jssorb053 .i.idn {opacity:.3;}

/*jssor slider arrow skin 093 css*/
.jssora093 {display:block;position:absolute;cursor:pointer;}
.jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093:hover {opacity:.8;}
.jssora093.jssora093dn {opacity:.6;}
.jssora093.jssora093ds {opacity:.3;pointer-events:none;}


/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: gold;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


.slidr .darken{
  width:100%;
  height:490px;
  position: relative;
  z-index: 99;
  background-color:rgba(0,0,0,.7);
}
.slidr .content{
  margin-top:0px;
}
.slidr .slide-inner{
  background:tomao;
  margin-top:0%;
}
.slidr .slide-inner h1:first-of-type{
  text-transform:uppercase;
  text-align:center;
  padding-top:10%;
}
.slidr .slide-inner p{
  font-size: 16px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
/*End Slider*/


.latest{
  padding:15px;
  background-color: #665533;
  color:#000;
}
.ministries{
  padding:10px 0px;
}
.ministries .col-sm-4{
  margin-bottom:10px;
  
}
.ministries #ministries{
  text-align:center;
  overflow: hidden;
  padding-bottom:10px;
}
.ministries #ministries:before,
.ministries #ministries:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.ministries #ministries:before {
  right: 0.5em;
  margin-left: -50%;
}
.ministries .hover{
  overflow:hidden;
  background:pink;
  width:100%;
  height:200px;
  padding:px;
}
.ministries #ministries:after {
  left: 0.5em;
  margin-right: -50%;
}

.ministries .well:hover{
  transform:scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
}
.ministries .well a{
  text-decoration: none;
  color:#fff;
}
.ministries .drkbgrd{
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.3);
}
.ministries .well h3{
  text-transform: uppercase;
  color:#fff;
  font-weight: bold;
  position: relative;
  top:40%;
  width:fit-content;
  margin:auto;
  background-color:rebeccapurpl;
}
.ministries .well{
  text-transform: uppercase;
  color:#fff;
  padding:0;
  height:200px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ministries #youth{
  background-image:url(/images/youth.jpg);
}
.ministries #sod{
  background-image:url(/images/sod.jpg);
}
.ministries #children{
  background-image:url(/images/children.jpg);
}
.ministries #risa{
  background-image:url(/images/children.jpg);
}
.ministries #biblec{
  background-image:url(/images/college.jpg);
}
.ministries #men{
  background-image:url(/images/men.jpg);
}
.service-times{
  background:url(../../../images/about-banner.jpg);
  height: 300px;
}
.panel{
  height: 200px;
}
.service-times h3{
  color:#fff;
  margin-bottom: 20px;
}
.panel .panel-body h3{color:#000;}
.panel .panel-body p{
  font-size: 1.3em;
}
.panel .panel-body span{
  color:#00B7FF;
  font-family: "Rammetto One", Cursive;

}



section{
  color:#fff;
}
.inner-section{
  margin-top:7%;
}
.inner-section h1{
  font-family: "Rammetto One", cursive;
}
.inner-section a{
  display: block;
  width:250px;
  border:1px solid #fff;
  padding-bottom:6px;
  border-radius: 3px;
}
.inner-section a:hover{
  text-decoration: none;
  color:#fff;
  border-color: gold;
}
.events-section a{
  border:1px solid #c3c3c3;
}
.events-section a:hover{
  color:#797777;
  border-color: #00B7FF;
}
.sermons-section{
  background-color: #00B7FF;
  height: 300px;
}
.events-section{
  background-color:#fff;
  color:#000;
  height: 300px;
}
.socials-section{
  padding:0px;
  margin:0px;
}
.socials-section a{
  text-align: center;
  color:#fff;
  font-size: 30px;
  padding-top:40%;
  display: inline-block;
  width:100%;
  height: 100%;
}
.socials-section .soc{
  height: 300px;
  padding:0px;
  margin:0px;
}
.socials-section .googleplus{
  background-color:rgb(4, 44, 59);
}
.socials-section .facebook{
  background-color:rgb(30, 119, 152);
}
.socials-section .twitter{
  background-color:rgb(4, 44, 59);
}
.socials-section .youtube{
  background-color:rgb(30, 119, 152);
}
.googleplus a:hover{
  background-color:#dc4a38;
}
.facebook a:hover{
  background-color:#2d4485;
}
.twitter a:hover{
  background-color:#2daae0;
}
.youtube a:hover{
  background-color:#f00;
}



/* ====== ABOUT LAYOUT ===== */
.banner-about{
  background-image: url(/images/welcome.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 250px;
}
.inner-banner-about{
  background-color:rgba(0,0,0,0.3);
  width:100%;
  height:250px;
  padding:0px;
  margin-top:-20px;
}
.inner-banner-about h1{
  color:#fff;
  padding-top:10%;
  font-size:4em;
}

.about{
  margin-top:5%;
  margin-bottom:5%;
  min-height:300px;
}
.about a{
  color:#333;
}
.about p{
  font-size: 16px;
  color:#777;
  line-height: 2em;
}
.about .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color:#00b7ff;
}

.about #pastors-img{
  background:peru;
  height:200px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:url(/images/pastors.jpg);
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
.about #pastors-detail{
  border:1px solid #ddd;
  height:200px;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}
.about #pastors-detail a{
  font-size: 15px;
  color:#00b7ff;
}
.about #pastors-detail .fa-facebook-square, #pastors-detail .fa-twitter-square{
  color:rgb(129, 124, 124);
  background-color:#fff;
}

/* ======= Our Ministries ==== */
.banner-ministries{
  background-image: url(/images/ministries.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 250px;
}
.inner-banner-ministries{
  background-color:rgba(0,0,0,0.3);
  width:100%;
  height:250px;
  padding:0px;
  margin-top:-20px;
}
.inner-banner-ministries h1{
  color:#fff;
  padding-top:10%;
  font-size:4em;
}

.our-ministries{
  margin-top:5%;
  margin-bottom:5%;
  min-height:300px;
}
.our-ministries a{
  color:#333;
}
.our-ministries p{
  font-size: 16px;
  color:#777;
  line-height: 2em;
}
.our-ministries .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color:#00b7ff;
}


/*second layout*/
.banner-events{
  background-image: url(/images/events.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 250px;
}
.inner-banner-events, .inner-banner-sermons{
  background-color:rgba(0,0,0,0.3);
  width:100%;
  height:250px;
  padding:0px;
  margin-top:-20px;
}
.events .filter{
  background: #eee;
  padding:10px 10px;
  margin-bottom:10px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
}
.events .filter select{
  margin-right:5px;
  padding:5px;
  border-radius:3px;
}
.inner-banner-events h1, .inner-banner-sermons h1{
  color:#fff;
  padding-top:10%;
  font-size:4em;
}
.banner-sermons{
  background-image: url(/images/bible.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 250px;
}
.categories-dash{
  height: 600px;
}
.categories-dash ul{
  padding:0px;
  margin:0px;
  list-style: none;
  padding-top:5px;
  margin-bottom:10px;
}
.categories ul{
  padding:0px;
  margin:0px;
  list-style: none;
  padding-top:5px;
}
.categories ul li a{
  color:#00B7FF;
}
.categories-dash ul li a{
  color:#fff;
}
.image-update{
  margin-top: 50px;
  margin-bottom:10px;
  padding:0px;
}
.image-update-inner{
  width:100%;
  padding:0px;
}
.image-update-img{
  width:33%;
  height:100px;
  padding:0px;
}
.paginator a{
  border:1px solid gold !important;
  color:#000;
}
.paginator .active{
  background-color:#337ab7;
}
.sermons-img{
  height:130px;
  padding:0px;
}
.sermons-img img{
  width:100%;
  height: 130px;
}
.sermons{
  background:re;
}
.sermons h3{
  margin-top: 0px;
}

.sermons h3 a:hover, .sermon-txt a:hover{
  color:#00B7FF;
  text-decoration:none;
}
.calandar h3{
  display:inline-block;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-banner{
  height:300px;
  background-color: #00B7FF;
  background-image: url(/images/contact-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:#fff;
}
.contact-banner h1{
  font-size: 7em;
}
.contact-banner h3{
  font-size: 30px;
}
.contact{
  text-align: center;
  padding:100px 0px;
}
.contact h3{
  font-size: 1.7em;
}
.contact p{
  font-size: 1.1em;
  line-height: 2em;
}
.contact .myBtn{
  border-radius: 0px !important;
  padding-left:20px;
  padding-right:20px;
}
.map{
  padding:0px;
}
.comments{
  margin-top:20px;
}
.comments form input{
  margin-bottom: 10px;
  padding:10px;
  width:45%;
  border-top-left-radius:3px;
  border-top-width:1px;
  border-left-width:1px;
}

.comment-body p span {
  margin-right:10px;
}

.gallery-background{
  background-color:#c2c7ca;
  width:100%;
  height:100%;
  color:#fff;
}



@media (max-width:970px){
  .socials-section{
    height:250px;
  }
  .socials-section .soc{
    height:250px;
  }
  .inner-section{
    margin-top:10%;
  }
}
@media (max-width:845px){
  .socials-section{
    height:220px;
  }
  .socials-section .soc{
    height:220px;
  }
  .panel-body{
    padding:5px;
  }
}
@media (max-width:800px){
  .service-times{
    padding:0px;
  }
}
@media (max-width:768px){
  .hvr-bounce-to-bottom:before{
    background-color:transparent;
  }
  .contact-banner{
    margin-top:-20px;
    padding-top:0px;
  }
  .map iframe{
    height:500px;
  }
  .contact{
    padding:50px 10px;
  }
  .contact-banner{
    height: 230px;
  }
  .contact-banner h1{
    font-size: 5em;
  }
  .inner-section{
    margin-top:-px;
  }
  .socials-section{
    margin-bottom:-5px;
  }
  .sermons-section, .events-section{
    height:200px;
  }
  .sermons-section h1{
    padding-top:5%;
  }
  .welcome{
    margin-bottom:20%;
    padding-top:5px;
  }
  .welcome .welcome-img{
    height: 270px;
    width:60%;
    margin:auto;
    display:block;
  }
}
@media (max-width:767px){
  .slidr .content{
    margin-top:-20px;
  }
  .slide-inner{
    margin-top: -50px;
  }
  .service-times{
    height:100%;
  }
  .inner-section{
    margin-top:-20px;
  }
  .image-updat{
    height:100%;
  }
  .image-update-inne{
    height:100%;
    margin:auto;
  }
  .image-update-im{
    width:70%;
    height:200px;
    display:block;
    margin:auto;
  }
  .contact h3{
    font-size: 1.3em;
  }
  .contact p{
    font-size: 1em;
  }
}
@media (max-width:600px){
  .socials-section{
    height:190px;
  }
  .socials-section .soc{
    height:190px;
  }
  nav{
    padding-top:30px;
  }
  .navbar-left{
    margin-top:-20px;
  }
  .navbar-left img:first-of-type{
    width:60px;
    height: 60px;
  }
  .navbar-left img:nth-of-type(2){
    width: 100px;
    height:60px;
  }
  
  .map iframe{
    height:400px;
  }
}
@media (max-width:512px){
  .banner-about, .inner-banner-about, .banner-ministries, .inner-banner-ministries{
    height: 180px;
  }
  .inner-banner-about h1, .inner-banner-ministries h1{
    font-size: 3em;
  }
  .contact-banner{
    height: 250px;
  }
  .contact-banner h1{
    font-size:5em;
  }
  .about p, .our-ministries p{
    line-height: 1.5em;
  }
}
@media (max-width:420px){
  .socials-section{
    height:170px;
  }
  .socials-section .soc{
    height:170px;
  }
  .socials-section a{
    padding-top:50%;
  }
  .comments form input{
    font-size:10px;
  }
  .sermons-section, .events-section {
    height:150px;
  }
  .sermons-section h1, .events-section h1{
    padding-top:5%;
  }
  .contact-banner{
    height: 150px;
  }
  .contact-banner h1{
    font-size: 3em;
  }
}
@media (max-width:475px){
  .banner-events, .banner-sermons, .inner-banner-events, .inner-banner-sermons{
    height:200px;
  }
  .inner-banner-events h1, .inner-banner-sermons h1{
    font-size: 3em;
  }
}
@media (max-width:415px){
  .address .me{
    text-align:center;
  }
  .contact-banner h1{
    font-size:2.8em;
  }
}
@media (max-width:386px){
  .slidr .slide-inner h1{
    font-size:23px;
  }
  .slidr .slide-inner p{
    font-size: 15px;
  }
}
@media (max-width:360px){
  .socials-section{
    height:140px;
  }
  .socials-section .soc{
    height:140px;
  }
}
@media (max-width:354px){
  .service-times .col-sm-10>h3{
    font-size:18px;
    padding-top:5px;
  }
}
@media (max-width:302px){
  .about p, .our-ministries p{
    font-size: 15px;
  }
  .banner-about, .inner-banner-about, .banner-ministries, .inner-banner-ministries{
    height: 130px;
  }
  .inner-banner-about h1, .inner-banner-ministries h1{
    font-size: 2.8em;
  }
  .panel{
    height:150px;
  }
  .sermons-section h1, .events-section h1{
    font-size: 25px;
  }
  .inner-section a{
    width:180px;
  }
  .inner-section a h3{
    font-size:18px;
  }
  .socials-section{
    height: 100px;
  }
  .socials-section .soc{
    height: 100px;
  }
  .socials-section a{padding-top:40%;}
  footer .top li{
    margin-right:0px;
  }
  .address,.last{padding-left:0px;padding-right: 0px;}
  .contact-banner{
    height: 100px;
  }
  .contact-banner h1{
    font-size: 2em;
  }
  .contact-banner h3{font-size: 20px;}
}